 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Mixins

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headerCon {
  width: 100%;
  background-color: HSLA(0, 0%, 100%, 1);
}

.header {
  margin-left: 170px;
  padding-bottom: 20px;

  h1 {
    display: inline-block;
    margin: 10px 25px 10px 0px;
    color: HSLA(17, 68%, 49%, 1);
  }

  .searchField {
    width: 250px;
    height: 30px;
    border: 1px solid HSLA(192, 58%, 49%, 1);
    padding-left: 10px;
    font-size: 14px;
    color: HSLA(0, 0%, 67%, 1);
  }

  .searchBtn {
    background-color: HSLA(195, 51%, 54%, 1);
    border: 1px solid HSLA(191, 47%, 42%, 1);
    padding: 4px 10px 6px 10px;
    margin-left: -6px;
    color: HSLA(0, 0%, 100%, 1);
  }

  .browseBtn {
    background-color: HSLA(0, 0%, 100%, 1);
    border: 1px solid HSLA(0, 0%, 90%, 1);
    padding: 4px 10px 6px 10px;
    margin-left: 15px;
    margin-right: 250px;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    font-size: 14px;
    color: HSLA(193, 99%, 37%, 1);
  }

  .signBox {
      border: 1px solid HSLA(192, 99%, 36%, 1);
      border-radius: 3px;
      padding: 10px;
      margin-left: 5px;
  }

  .cartBox {
    display: inline-block;
    margin: 0px 0px 0px 25px;
    padding-top: 0px;

    img {
      display: block;
      padding-top: 30px;
      width: 20%;
      margin: 0px;
    }

    span {
      margin: 0px;
      padding-left: 2px;
      font-size: 12px;

    }
  }

}

.contentCon {
  width: 100%;
  background-color: HSLA(60, 17%, 95%, 1);
}

.main {
  @include outer-container;
  background-color: HSLA(60, 17%, 95%, 1);
}

.resultBar {
  margin-left: 60px;
  padding-top: 20px;
  font-size: 12px;
  color: HSLA(0, 0%, 40%, 1);

  .show {
    margin-right: 150px;
  }

  .sort {
    margin-right: 420px;
  }
}

ul {
  margin: 0 auto;
}

.sidebar {
  @include span-columns(3);
  border-radius: 4px;
  height: 2200px;
  width: 220px;
  margin-left: 60px;
  margin-top: 25px;
  background-color: HSLA(0, 0%, 100%, 1);

  nav {
    margin-top: 10px;
    font-size: 13px;
    color: HSLA(198, 48%, 48%, 1);
  }
}

li {
  @include span-columns(3);
  margin-top: 25px;
  position: relative;
  height: 220px;
  width: 220px;
  border-radius: 4px;
  font-size: 12px;
  background-color: HSLA(0, 0%, 100%, 1);

  .icon1 {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 23px;
    width: 23px;
    border: 1px solid HSLA(219, 13%, 78%, 1);
    border-radius: 3px;
    background-color: HSLA(0, 0%, 100%, 1);
    padding: 2px;
    display: none;
  }

  .icon2 {
    position: absolute;
    top: 5px;
    right: 40px;
    height: 23px;
    width: 23px;
    border: 1px solid HSLA(219, 13%, 78%, 1);
    border-radius: 3px;
    background-color: HSLA(0, 0%, 100%, 1);
    padding: 2px;
    display: none;
  }

  &.iconReveal .icon1,
  &.iconReveal .icon2, {
    display: inline-block;
  }

  img {
    height: 170px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 0px;
  }

  .it {
    @include truncate;
    color: HSLA(0, 0%, 40%, 1);
    margin-left: 5px;
  }

  .isn{
    float: left;
    color: HSLA(240, 12%, 73%, 1);
    margin-top: 2px;
    margin-left: 5px;
  }

  .ip {
    float: right;
    color: HSLA(94, 50%, 51%, 1);
    margin-top: 2px;
  }

}

li:hover {
  box-shadow: 0 0 1em HSLA(206, 15%, 82%, 1);
  border: 1px solid HSLA(206, 15%, 82%, 1);
}

.footer {
  clear: both;
}
